/* ---------------------------
BASIC PAGE
--------------------------- */

* {
box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    font-family: Arial, sans-serif;

    background: #000000;
}

/* ---------------------------
APP FRAME
--------------------------- */

.app-frame {
    position: fixed;
    inset: 5px 20px 20px 5px;
    margin: 20px;
    background: #ffffff;
    border-radius: 150px 0 0 0;
    overflow: hidden;
  }

/* ---------------------------
CURVED BORDER
--------------------------- */
.app-frame::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 12px solid black;
    border-radius: 150px 0 0 0;
    pointer-events: none;
    z-index: 999;
}

/* ---------------------------
LOGO
--------------------------- */
.logo-top-left {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2000;
  }

.logo-top-left img {
    width: 70px;
    height: auto;
  }

/* ---------------------------
CONTENT
--------------------------- */
.app-content {
    width: 100%;
    height: 100%;
  }

/* ---------------------------
TITLE
--------------------------- */

#title {
  position: absolute;
  top: 120px;
  right: 20px;
  left: 40px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 2px 5px #000;
  z-index: 10;
}


/* ---------------------------
OVERLAY
--------------------------- */

#sky {
position: relative;
width: 100%;
height: 100%;
background:
linear-gradient(
to bottom,
#87ceeb 0%,
#dff3ff 65%,
#9ca58d 65%,
#59634e 100%
);
}
